/* ------------- */
/* -- General -- */
/* ------------- */
header {
  padding: 1.5em;
  padding-left: 100px;
  background: #efefef;
}
header h1 {
  margin-top: 7px;
  font-size: 1.3em;
  font-weight: bold;
}
#wrapper {
  width: 50%;
  margin: 50px auto 200px auto;
  padding: 2em;
  background: #e0eeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
footer {
  padding: 20px 0;
  text-align: right;
  background: #efefef;
}
footer small {
  margin-right: 100px;
}
/* --------------- */
/* -- Home Page -- */
/* --------------- */
#welcome {
  font-size: 1.2em;
  margin-bottom: 40px;
  line-height: 1.5em;
}
#welcome #greeting {
  display: block;
  margin-bottom: 7px;
  text-align: center;
  font-size: 1.3em;
  color: #31659d;
}
#search-form {
  margin-bottom: 30px;
}
#search-input,
#search-select {
  padding: 7px;
  font-size: 1.2em;
}
#search-input {
  width: 60%;
}
#search-select {
  margin: 0 5px;
}
#search-button {
  padding: 9px;
  vertical-align: top;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background: #31659d;
  border: none;
}
.search-result {
  font-size: 1.3em;
}
.search-result a {
  display: block;
  -webkit-box-shadow: -2px 2px 2px #cccccc;
  -moz-box-shadow: -2px 2px 2px #cccccc;
  box-shadow: -2px 2px 2px #cccccc;
}
.result {
  padding: .5em;
  background: white;
}
.result span {
  font-weight: bold;
}
.search-result + .search-result {
  margin-top: 20px;
}
#result-none,
#result-error {
  color: red;
}
#search-button:hover {
  background: #27507d;
}
/* ------------------- */
/* -- Location Page -- */
/* ------------------- */
#arrow {
  position: relative;
  display: block;
}
#arrow #arrow-head {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 20px solid white;
}
#arrow #back-anchor {
  position: absolute;
  bottom: 8px;
  left: 18px;
  padding: 4px;
  padding-right: 8px;
  text-decoration: none;
  background: white;
}
#location {
  margin-top: 40px;
  font-size: 1.1em;
}
#location span {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  color: green;
}
#location #loc-name,
#location #facilities {
  display: inline-block;
  margin-bottom: 20px;
  padding: 7px 10px;
  color: white;
}
#location #loc-name {
  font-size: 1.4em;
  background: #659D32;
}
#location #loc-pcode {
  margin-top: 5px;
}
#location #facilities {
  margin-top: 40px;
  background: #31659d;
}
#location .facility li + li {
  margin-top: 5px;
}
#location .facility + .facility {
  margin-top: 15px;
}
/* ------------------- */
/* -- Media Queries -- */
/* ------------------- */
@media screen and (max-width: 1110px) {
  /* General */
  header {
    padding-left: 0;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer small {
    margin-right: 0;
  }
  /* Home Page */
  #search-input {
    width: 97%;
  }
  #search-select {
    width: 100%;
    margin: 0;
  }
  #search-input,
  #search-select,
  #search-button {
    display: block;
    margin-bottom: 1em;
  }
  #search-button {
    width: 75%;
    margin: 0 auto;
  }
  #result-none,
  #result-error {
    text-align: center;
  }
  /* Location Page */
  #arrow {
    width: 88px;
    margin: 0 auto 20px auto;
  }
}
