<!-- back arrow -->
<div id="arrow">
	<a href="#/"><span id="arrow-head"></span></a>
	<a id="back-anchor" href="#/">Go Back</a>
</div>

<!-- location details -->
<div id="location" ng-repeat="location in location.data">
	<h2 id="loc-name">{{ location.name }}</h2>
	<p id="loc-address"><span>Address:</span>{{ location.address }}</p>
	<p id="loc-pcode"><span>Postal Code:</span> {{ location.pcode }}</p>

	<p id="facilities">Facilities:</p>
	<ul class="facility" ng-repeat="facility in location.facilities">
		<li><span>Name:</span> {{ facility.name }}</li>
		<li><span>Type:</span> {{ facility.type }}</li>
	</ul>
</div>

<!-- google map -->
<div id="map">
	<!-- inputs -->
	<input type="text" id="origin" ng-model="origin" placeholder="Input an address" required>
	<button ng-click="route()">GO</button>

	<div id="map-canvas" ng-show="location.data"></div>
</div>

<!-- directions -->
<div id="directions"></div>