<div id="arrow">
	<a href="#/"><span id="arrow-head"></span></a>
	<a id="back-anchor" href="#/">Go Back</a>
</div>

<div id="location" ng-repeat="location in location.data">
	<h2 id="loc-name">{{ location.name }}</h2>
	<p id="loc-address"><span>Address:</span><a ng-href="http://maps.google.com/?q={{ location.name + ' Toronto' }}" target="_blank">{{ location.address }}</a></p>
	<p id="loc-pcode"><span>Postal Code:</span> {{ location.pcode }}</p>

	<p id="facilities">Facilities:</p>
	<ul class="facility" ng-repeat="facility in location.facilities">
		<li><span>Name:</span> {{ facility.name }}</li>
		<li><span>Type:</span> {{ facility.type }}</li>
	</ul>
</div>